.notes-content{
    min-height: 200px;
    max-height: 1000px;
    width:250px;
    border: 1px solid black;
    margin:20px 0px;;
    
    
}
p{
    margin:10px;

}

body{
    background:palevioletred;
}

button{
    border-radius:20px;
    margin:10px;
}

